/* Add any additional custom styles here */

/* Define slide-in animation */
@keyframes slide-in {
  from {
    transform: translateX(100%); /* Start from the right (off-screen) */
  }
  to {
    transform: translateX(0); /* End at final position */
  }
}

/* Apply slide-in animation to todo items */
.slide-in {
  animation: slide-in 0.5s ease-out; /* Animation name, duration, and timing function */
}
